{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>::Presear SmartSELL:: Dashboard</title>
    <link
      rel="icon"
      href="https://i.postimg.cc/nhLrrsqp/Presear-SMARTSELL.png"
      type="image/x-icon"
    />
    <!-- Favicon-->

    <!-- plugin css file  -->
    <link
      rel="stylesheet"
      href="{% static 'assets/plugin/datatables/responsive.dataTables.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/plugin/datatables/dataTables.bootstrap5.min.css' %}"
    />

    <!-- project css file  -->
    <link
      rel="stylesheet"
      href="{% static 'assets/css/ebazar.style.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/icofont.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/icofont.min.css' %}"
    />
    {{ form.media }}
    <style>
      .form-group {
        margin-bottom: 10px; /* Adjust margin-bottom as needed */
    }
    .form-control{
      font-size:15px;
    }
    .requiredField{
      margin-bottom: 7px;
      font-size:15px;
      font-weight: bold;
    }
    .asteriskField{
      margin-left:2px;
      color:red;
    }
      @media print {
        body * {
            visibility: hidden;
        }
        #contentToPrint, #contentToPrint * {
            visibility: visible;
        }
        #contentToPrint {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    </style>
  </head>
  <body>
    <div id="ebazar-layout" class="theme-indigo">
      <!-- sidebar -->
      <div class="sidebar px-4 py-4 py-md-4 me-0">
        <div class="d-flex flex-column h-100">
          <a href="{% url 'index' %}" class="mb-0 brand-icon">
            <span class="logo-icon">
              <i class="bi bi-bag-check-fill fs-4"></i>
            </span>
            <span class="logo-text">Kishori Traders</span>
          </a>
          <!-- Menu: main ul -->
          <ul class="menu-list flex-grow-1 mt-3">
            {% comment %} <li>
              <a class="m-link" href="{% url 'index' %}"
                ><i class="icofont-home fs-5"></i> <span>Analytics</span></a
              >
            </li> {% endcomment %}
            <li>
              <a class="m-link" href="{% url 'index' %}"
                ><i class="icofont-home fs-5"></i> <span>Home</span></a
              >
            </li>
            {% comment %} <li>
              <a class="m-link" href="{% url 'job-register' %}"
                ><i class="icofont-chart-flow fs-5"></i> <span>Job Register</span></a
              >
            </li>
            <li>
              <a class="m-link" href="{% url 'test-report' %}"
                ><i class="icofont-notepad fs-5"></i> <span>Test Report Data</span></a
              >
            </li>
            <li>
              <a class="m-link" href="{% url 'test-report-document' %}"
                ><i class="icofont-notepad fs-5"></i> <span>Test Report Document</span></a
              >
            </li>
            <li>
              <a class="m-link" href="{% url 'winding-data' %}"
                ><i class="icofont-notepad fs-5"></i> <span>Winding Data</span></a
              >
            </li>
            <li>
              <a class="m-link" href="{% url 'quotation-without-sow' %}"
                ><i class="icofont-notepad fs-5"></i> <span>Quotations</span></a
              >
            </li>
            <li>
              <a class="m-link" href="{% url 'sow-quotation' %}"
                ><i class="icofont-notepad fs-5"></i> <span>SoW Quotations</span></a
              >
            </li>
            <li>
              <a class="m-link" href="{% url 'inspection-report' %}"
                ><i class="icofont-notepad fs-5"></i> <span>Inspection Report</span></a
              >
            </li> {% endcomment %}
           
          <button
            type="button"
            class="btn btn-link sidebar-mini-btn text-light"
          >
            <span class="ms-2"><i class="icofont-bubble-right"></i></span>
          </button>
        </div>
      </div>
      <div class="main px-lg-4 px-md-4">

        <!-- Body: Header -->
        <div class="header">
            <nav class="navbar py-4">
                <div class="container-xxl">

                    <!-- header rightbar icon -->
                    <div class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1">
                        {% comment %} <div class="d-flex">
                            <a class="nav-link text-primary collapsed" href="help.html" title="Get Help">
                                <i class="icofont-info-square fs-5"></i>
                            </a>
                        </div> {% endcomment %}
                        <div class="dropdown notifications">
                            <a class="nav-link dropdown-toggle pulse" href="index.html#" role="button" data-bs-toggle="dropdown">
                                <i class="icofont-alarm fs-5"></i>
                                <span class="pulse-ring"></span>
                            </a>
                            <div id="NotificationsDiv" class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-md-end p-0 m-0 mt-3">
                                <div class="card border-0 w380">
                                    <div class="card-header border-0 p-3">
                                        <h5 class="mb-0 font-weight-light d-flex justify-content-between">
                                            <span>Notifications</span>
                                            <span class="badge text-white"></span>
                                        </h5>
                                    </div>
                                    <div class="tab-content card-body">
                                        <div class="tab-pane fade show active">
                                            <ul class="list-unstyled list mb-0">
                                              {% for i in notifications %}
                                                <li class="py-2 mb-1 border-bottom">
                                                    <a href="" class="d-flex">
                                                        <img class="avatar rounded-circle" src="http://pixelwibes.com/template/ebazar/html/dist/assets/images/xs/avatar1.svg" alt="">
                                                        <div class="flex-fill ms-2">
                                                            <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">Abhijit Tripathy</span> <small>{{ i.date }}</small></p>
                                                            <span class="">{{ i.context }} <span class="badge bg-success">success</span></span>
                                                        </div>
                                                    </a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    {% comment %} <a class="card-footer text-center border-top-0" href="index.html#"> View all notifications</a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        <div class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover">
                            <div class="u-info me-2">
                                <p class="mb-0 text-end line-height-sm "><span class="font-weight-bold">Kishori Traders</span></p>
                                <small>{{ today_date }}</small>
                            </div>
                            <a class="nav-link dropdown-toggle pulse p-0" href="index.html#" role="button" data-bs-toggle="dropdown" data-bs-display="static">
                                <img class="avatar lg rounded-circle img-thumbnail" src="{% static 'assets/images/profile_av.svg' %}" alt="profile">
                            </a>
                            <div class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0">
                                <div class="card border-0 w280">
                                    <div class="card-body pb-0">
                                        <div class="d-flex py-1">
                                            <img class="avatar rounded-circle" src="{% static 'assets/images/profile_av.svg' %}" alt="profile">
                                            <div class="flex-fill ms-3">
                                                <p class="mb-0"><span class="font-weight-bold">Kishori Traders</span></p>
                                                <small class="">support@presear.com</small>
                                            </div>
                                        </div>
                                        
                                        <div><hr class="dropdown-divider border-dark"></div>
                                    </div>
                                    <div class="list-group m-2 ">
                                        {% comment %} <a href="admin-profile.html" class="list-group-item list-group-item-action border-0 "><i class="icofont-ui-user fs-5 me-3"></i>Profile Page</a>
                                        <a href="order-invoices.html" class="list-group-item list-group-item-action border-0 "><i class="icofont-file-text fs-5 me-3"></i>Order Invoices</a> {% endcomment %}
                                        <a href="" class="list-group-item list-group-item-action border-0 "><i class="icofont-logout fs-5 me-3"></i>Signout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% comment %} <div class="setting ms-2">
                            <a href="index.html#" data-bs-toggle="modal" data-bs-target="#Settingmodal"><i class="icofont-gear-alt fs-5"></i></a>
                        </div> {% endcomment %}
                    </div>
    
                    <!-- menu toggler -->
                    <button class="navbar-toggler p-0 border-0 menu-toggle order-3" type="button" data-bs-toggle="collapse" data-bs-target="#mainHeader">
                        <span class="fa fa-bars"></span>
                    </button>
    
                    <!-- main menu Search-->
                    <div class="order-0 col-lg-4 col-md-4 col-sm-12 col-12 mb-3 mb-md-0 ">
                        {% comment %} <div class="input-group flex-nowrap input-group-lg">
                            <input type="search" class="form-control" placeholder="Search" aria-label="search" aria-describedby="addon-wrapping">
                            <button type="button" class="input-group-text" id="addon-wrapping"><i class="fa fa-search"></i></button>
                        </div> {% endcomment %}
                    </div>
    
                </div>
            </nav>
        </div>


      {% block content %} {% endblock %}
    </div>
    <script src="{% static 'assets/js/template.js' %}"></script>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script> {% endcomment %}
    <script>
      function printDiv(divName) {
        function printDiv(divName) {
          var content = document.getElementById(divName).innerHTML;
          printWindow.print();
      }
    }
  </script>

    <!-- Jquery Core Js -->
    <script src="{% static 'assets/bundles/libscripts.bundle.js' %}"></script>

    <!-- Plugin Js -->
    <script src="{% static 'assets/bundles/apexcharts.bundle.js' %}"></script>
    <script src="{% static 'assets/bundles/dataTables.bundle.js' %}"></script>

    <!-- Jquery Page Js -->
    <script src="{% static 'assets/js/template.js' %}"></script>
    <script src="{% static 'assets/js/page/index.js' %}"></script>
    <script src="{% static 'assets/js/page/chart-apex.js' %}"></script>
    <script src="{% static 'assets/bundles/invoice.bundle.js' %}"></script>
    <script type="text/javascript" id="zsiqchat">
      var $zoho = $zoho || {};
      $zoho.salesiq = $zoho.salesiq || {
        widgetcode:
          "673808392b7f7402cd8fbb6739fe80b65ae9fd3dcda3672a7ca7dada61eb1502",
        values: {},
        ready: function () {},
      };
      var d = document;
      s = d.createElement("script");
      s.type = "text/javascript";
      s.id = "zsiqscript";
      s.defer = true;
      s.src = "https://salesiq.zoho.in/widget";
      t = d.getElementsByTagName("script")[0];
      t.parentNode.insertBefore(s, t);
    </script>
    <script>
      $('#myDataTable')
      .addClass( 'nowrap' )
      .dataTable( {
          responsive: true,
          columnDefs: [
              { targets: [-1, -3], className: 'dt-body-right' }
          ]
      });
  </script>
  <script>
    // project data table
    $(document).ready(function() {
        $('.deleterow').on('click',function(){
        var tablename = $(this).closest('table').DataTable();  
        tablename
                .row( $(this)
                .parents('tr') )
                .remove()
                .draw();

        } );
    });
</script>
    
  </body>
</html>
